

.add-another {
    background-color: #edededff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.633);
    height: fit-content;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;


}

.shopping-text {
    display: flex;
    flex-direction: column;

    align-items: flex-start;

}

.shopping-text h2 {
    font-size: 30px;
    font-family: "Science Gothic", sans-serif;
    text-transform: uppercase;
    
}

.shopping-text p{
   text-align: justify;
}


.continue-shopping {

    display: flex;
    justify-content: center;
    align-items: center;
}

.continue-shopping a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    
    
}


@media (max-width: 576px) {
    table thead {
        display: none;
    }

    table tr {
        display: block;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 10px;
    }

    table td {
        display: flex;
        padding: 5px 0;
        align-items: center;
    }

    table td p{
        font-size: 20px;
         align-items: center;
         font-weight: bold;
    }

    table td p .total{
        font-size: 30px;
    }
}
