@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateX(200px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.about-description p {
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
}

/* delay for each paragraph */
.about-description p:nth-of-type(1) {
    animation-delay: 0.3s;
}

.about-description p:nth-of-type(2) {
    animation-delay: 0.6s;
}

.product-line {
    background-color: #ff0051ff;
    height: 3px;
}

.services {
    background-color: #fafafaff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.633);
    border-radius: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body,
        html {
            overflow-x: hidden;
        } */



.ctn {
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}



/* events */
section {
    width: 80%;
    margin: 80px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: #6664b4ff;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events .row {
    margin-top: 50px;
}

h4 {
    font-size: 3vmin;
    color: #6664b4ff;
    margin: 20px auto;
}

p {
    color: #b0aee6ff;
    padding: 0px 40px;
}

.events .ctn {
    margin-top: 30px;
}

.row .col img {
    width: 80%;
}

/* explore */
.explore {
    width: 100%;
    height: 100vh;
    background-image: url('./images/img/bg2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.explore-content {
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explore-content h1 {
    font-size: 7vmin;
    margin: 50px;
    text-transform: capitalize;
}

.explore-content p {
    color: white;
}

.explore-content .ctn {
    margin-top: 40px;
}

.explore-content .line {
    margin-bottom: 50px;
}

/* tours */
/* Tours Section */

.tours {
    padding: 80px 0;
    width: 80%;
    margin: auto;
}

/* Row */
.tours .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

/* Columns */
.tours .row .col {
    width: 50%;
}

/* Image Gallery */
.tours .image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-items: center;
}

.image-gallery img {
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
    align-items: center;
}

.image-gallery img:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

/* overflow */
.recent-events-left {
    /* background: linear-gradient(to top,#edededff,#ff0051ff); */
    background-color: #3d3d3dff;
    height: 500px;
    width: auto;
    margin-top: 50px;
    border-radius: 100px 0px 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid #ff0051ff;

}

.recent-events-left h1 {
    color: whitesmoke;
    text-transform: capitalize;
    font-family: "Science Gothic", sans-serif;
    color: #ffa621ff;
    text-align: center;
}

.recent-events-left p {
    color: #ffca79ff;
    text-align: center;
    padding: 20px;
    text-transform: capitalize;
}

.recent-events-left line {
    width: auto;
    height: 3px;
    background-color: #fc036b;
}

.overflow {
    width: fit-content;
    height: 500px;
    margin-top: 50px;
    padding: 30px;
    background-color: #edededff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.633);
    border-radius: 20px;
}

.recent-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 500;
    background-color: #edededff;
}

.overflow .recent-events p {
    font-size: 24px;
    text-transform: capitalize;
    color: #242424ff;
    text-align: center;
}

.overflow .recent-events .product-line {
    margin-top: -10px;
    margin-bottom: 10px;
    width: 60%;
}

/* done works */

.done-works {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;
    align-items: center;
}

.done-works h4 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Science Gothic", sans-serif;
    margin-bottom: 40px;
    color: whitesmoke;
    font-weight: bolder;
}

.gallery-content {
    gap: 50px;
}

.gallery-card {
    gap: 20px;
    width: auto;
    height: 300px;
    background-image: url('./images/services/duvili.jpg');
    border-radius: 90px 0px 90px 0px;
}

.gallery-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 90px 0px 90px 0px;
}

.gallery-btn {
    width: fit-content;
    height: 100%;
    text-decoration: none;
    padding: 10px;
    background-color: #ff0051ff;
    color: whitesmoke;
    justify-items: center;
    align-content: center;
    border-radius: 30px;
}

.typing {
    display: inline-block;
    margin: 20%;
}

.text {
    overflow: hidden;
    font-size: 3.6rem;
    font-weight: 700;
    border-right: 5px solid #fc036b;
    white-space: nowrap;
    animation: typing 4s steps(40, end) infinite;
    color: #fc036b;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.service-card-section {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 100px;
}

.service-card-area {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;

}

.service-card {
    background-color: #edededff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.633);
    height: 200px;
    width: 280px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.service-card:hover {
    background-color: #FF9B00;
    transition: 0.3s ease;
    transform: scale(1.1);

}

.service-card p {
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.why-we-are {
    text-transform: capitalize;
    text-align: center;
    margin-top: 100px;
}

.why-we-are strong {
    font-size: 50px;
}