.body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    
}
.carousel {
    margin-top: -20px;
}

/* .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, 400px);

            grid-template-rows: 300px 300px 300px;


            justify-items: center;
            align-items: center;

            justify-content: center;
            align-content: center;

        } */

.featured-product {
    color: #ff0051ff;
    justify-items: center;
    align-items: center;
    align-content: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;

}

.featued-card {
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 20em;

}

.featued-card-grid {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0;
    justify-content: center;
    align-content: center;
    gap: 50px;
    background-color: rgb(137, 137, 137);

    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.633);

}

.card-content {
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}



.future-title {
    padding: 20px;
}



.line-1{
    height: 2px;
    background-color: #ff0051ff;
    padding: 0px;
}
